<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    @@include('../blocks/head.html')
    <body>                
        <div class="l-wrapper">
            <!-- top  -->
            <div class="l-block" data-id="top">
                <header class="l-header">
                 1   
                </header>                
            </div>
            <!-- /top  -->
            
            <!-- categories  -->
            <div class="l-block" data-id="categories">
                2
            </div>
            <!-- /categories  -->
            
            <!-- products  -->
            <div class="l-block" data-id="products">
                3
            </div>
            <!-- /products  -->
            
            <!-- footer  -->
            <div class="l-block" data-id="footer">
                <footer class="l-footer">
                    4
                </footer>                
            </div>
            <!-- /footer  -->
        </div>
    </body>
</html>