<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    @@include('../blocks/head.html')
    <body>                
        <div class="l-wrapper">
            @@include('../blocks/top.html')
            @@include('../blocks/categories.html')
            @@include('../blocks/products.html')
            @@include('../blocks/footer.html')           
            @@include('../blocks/bottom.html')        
        </div>
    </body>
</html>